@model StoreFront.DATA.EF.Models.Condition

@* <h4>Condition</h4>
<hr /> *@
<div class="row">
    <div class="offset-3 col-md-6 pt-3">
        <form asp-action="ConditionEdit"
        method="post"
        id="ConditionEditForm">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConditionId" />
            <div class="form-group">
               @*  <label asp-for="ConditionName" class="control-label"></label> *@
                <input asp-for="ConditionName" class="form-control"
                placeholder="Condition Name" />
                <span asp-validation-for="ConditionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="ConditionDescripton" class="control-label"></label> *@
                <input asp-for="ConditionDescripton" class="form-control"
                placeholder="Condition Description" />
                <span asp-validation-for="ConditionDescripton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
